:root {
    --btn-color: #8C8C8B;
    --accent-color: #F299A0;
}

* {
    font-family: 'Gamja Flower', cursive;
}



body {
    background-image: url(background.jpg);
    background-size: 130%;
}

.btn {
    background-color: var(--btn-color);
    color: white;
}

article {
    display: flex;
    flex-direction: column;
}
.start {
    width: 400px;
    margin: 0 auto;
    background-color: white;
}

#title_text {
    font-family: 'Jua', sans-serif;
}

.question {
    display: none;
}

.result {
    display: none;
}

#img {
    border-radius: 40px 80px / 80px 40px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.share {
    margin: 0 auto;
}

.kakao_ad {
    width: 320px;
    margin: 0 auto;

/* 외부광고 연습 */
/* .banner {
    display: flex;
    justify-content: center; // a 태그 자식들 가운데 정렬
    width: 300px;
    margin: 0 auto; // 태그 자체 가운데 정렬
    
}

.banner-img {
    width: 300px;
} 
*/